body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: #00092c;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
}

h2 {
  color: #00092c;
  font-weight: normal;
  font-size: 2.5rem;
  font-family: monospace;
}

h3 {
  color: #b20600;
  font-family: monospace;
  font-size: 1rem;
}

p {
  line-height: 2;
  font-weight: bold;
}

hr {
  border: dotted #eaf6f6 6px;
  width: 4%;
  border-bottom: none;
}

.top-container {
  background-color: #eeeeee;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
  background-color: #ff5f00;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.footer-link {
  color: #00092c;
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eeeeee;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 10px;
}

.gaming-img {
  width: 25%;
  float: right;
  margin-left: 10px;
}

.profile {
  margin-top: 100px;
  margin-bottom: 70px;
}

.skills {
  margin-top: 100px;
}

.text1 {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.contact-me {
  padding-top: 30px;
  padding-bottom: 70px;
}

.copyright {
  color: #eeeeee;
  font-size: 0.75rem;
  font-weight: bold;
  padding-top: 20px;
}

.btn {
  background: #00092c;
  background-image: -webkit-linear-gradient(top, #00092c, #b20600);
  background-image: -moz-linear-gradient(top, #00092c, #b20600);
  background-image: -ms-linear-gradient(top, #00092c, #b20600);
  background-image: -o-linear-gradient(top, #00092c, #b20600);
  background-image: linear-gradient(to bottom, #00092c, #b20600);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: monospace;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #75175a;
  background-image: -webkit-linear-gradient(top, #75175a, #3498db);
  background-image: -moz-linear-gradient(top, #75175a, #3498db);
  background-image: -ms-linear-gradient(top, #75175a, #3498db);
  background-image: -o-linear-gradient(top, #75175a, #3498db);
  background-image: linear-gradient(to bottom, #75175a, #3498db);
  text-decoration: none;
}
